body {
    font-family: Arial,sans-serif ;
    margin: 0;
    background-image: linear-gradient(lightblue,darkblue);
    color: #222;
    
}
header {
    background-image: linear-gradient(45deg,#3a6ea5,#0a2540);

    color: rgb(0, 0, 0);
    padding: 20px;
}
ul{
    margin-left: 30px;
}
#h14,#h13{
    margin: 25px;

}


nav a {
    color: rgb(0, 0, 0);
    margin:  10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: rgb(192, 248, 183);
    margin: 30px;
    padding: 30px;
    border-radius: 8px;
    text-decoration: none;
}
h4{
    
    text-align: center;
    color: wheat;
    padding-bottom: 5px;
}

h2 {
    color: #e63946;
    
}

.project {
    border-left: 4px solid #1e88e5;
    padding-left: 10px;
    margin-bottom: 15px;
    margin: 30px;
    
}

footer {
    background-color:  #111;
    color: white;
    text-align: center;
    padding: 20px;
}

h1{
    font-weight: 1000;
    
    color: wheat;
    text-align: center;
}
  img{
                border: 4px solid black;
                float: right;
                width: 194px;
                height: 229px;
            }





@media (max-width: 900px) {

    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 6px 0;
    }

    section {
        margin: 10px;
        padding: 12px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;

    }
    img{
                border: 4px solid black;
                float: right;
                width: 194px;
                height: 225px;
            }
     
    
   
    
}

