body {
    font-family: Arial,sans-serif ;
    margin: 0;
    background-image: linear-gradient(lightblue,darkblue);
    color: #222;
    
}
header {
    background-image: linear-gradient(45deg,lightblue,darkblue);

    color: rgb(0, 0, 0);
    padding: 20px;
}



nav a {
    color: rgb(0, 0, 0);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}

h2 {
    color: #e63946;
}

.project {
    border-left: 4px solid #1e88e5;
    padding-left: 10px;
    margin-bottom: 15px;
}

footer {
    background-color:  #111;
    color: white;
    text-align: center;
    padding: 10px;
}

h1{
    font-weight: 900;
    border-bottom: 4px solid black;
    color: #f9f1f2;
    text-align: center;
}
  img{
                border: 4px solid black;
                float: right;
                
                height: 231px;
            }





@media (max-width: 900px) {

    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 6px 0;
    }

    section {
        margin: 10px;
        padding: 12px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;

    }
     
    
   
    
}

